/ {
        chosen {
                zephyr,flash-controller = &external_flash;
        };
};

&quadspi {
        pinctrl-0 = <
                &quadspi_clk_pb2
                &quadspi_bk1_ncs_pg6
                &quadspi_bk1_io0_pd11
                &quadspi_bk1_io2_pe2
                &quadspi_bk1_io1_pc10
                &quadspi_bk1_io3_pd13
        >;

        status = "okay";

        external_flash: qspi-nor-flash@0 {
                compatible = "st,stm32-qspi-nor";
                label = "external_flash";
                reg = <0>;
                /* Higher frequencies untested */
                qspi-max-frequency = <80000000>;
                size = <(DT_SIZE_K(4096)*8)>;
                status = "okay";
                /* Don't use four lines */

                partitions {
                        compatible = "fixed-partitions";
                        #address-cells = <1>;
                        #size-cells = <1>;

                        /* application image slot: 896KB */
                        slot1_partition: partition@0 {
                                label = "image-1";
                                reg = <0x00000000 DT_SIZE_K(896)>;
                        };

                        /* Scratch slot */
                        scratch_partition: partition@E0000 {
                                label = "image-scratch";
                                reg = <0x000E0000 DT_SIZE_K(128)>;
                        };

                        /* storage: remainder KB for settings */
                        storage_partition: partition@100000 {
                                label = "storage";
                                reg = <0x000100000 DT_SIZE_K(3072)>;
                        };
                };
        };
};

&flash0 {
        partitions {
                compatible = "fixed-partitions";
                #address-cells = <1>;
                #size-cells = <1>;

                /* 128KB for bootloader */
                boot_partition: partition@0 {
                        label = "mcuboot";
                        reg = <0x00000000 DT_SIZE_K(128)>;
                        read-only;
                };

                /* application image slot: 896KB */
                slot0_partition: partition@20000 {
                        label = "image-0";
                        reg = <0x00020000 DT_SIZE_K(896)>;
                };

                /* product configuration slot: 128KB */
                product_info_partition: partition@1E0000 {
                        label = "product_info";
                        reg = <0x001E0000 DT_SIZE_K(128)>;
                        read-only;
                };
        };
};
    